<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <partial name="AuthLayout/_Styles" />

</head>
<body>

    @RenderBody()

    <partial name="AuthLayout/_Scripts" />

    @RenderSection("Scripts", required: true)
</body>
</html>