<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="utf-8">
    <title>CLED | Index</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <partial name="Layout/_Styles" />
    <partial name="Layout/_Scripts" />
</head>
<body>
    <partial name="Layout/_TopNavigation" />


    @RenderBody()

    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-6">
        <partial name="Layout/_Footer" />
    </div>
    <!-- Footer End -->

    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("Scripts", required: false)
    }




</body>

</html>
