@model CLED.Areas.Admin.ViewModels.AdministrationCreateRoleViewModel 
@{


    ViewData["Title"] = "Create Role";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="login-container">
        <img class="profile-avatar" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Add Role</button>
            
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}