
<div class="container-fluid pt-5" style="border-top: 1px solid rgba(23, 162, 184, .2);">
    <p class="m-0 text-center text-white">
        &copy; <a class="text-primary font-weight-bold" asp-controller="Home" asp-action="Index">CLED</a>. All Rights Reserved.
        <a class="text-primary font-weight-bold" href="https://fb.com/SeifEddineAttia">Seif Eddine Attia</a>
    </p>
</div>