<footer class="main-footer no-print">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        CLED Admin Area
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020-2021 </strong> All rights reserved. <a hidden href="https://icons8.com/icon/je5sSd2A4KkZ/home">Home icon by Icons8</a>
</footer>