
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-blue elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link">
        <img src="~/AdminLTE/img/C-logos_white.png" alt="Admin Area" class="brand-image-xl img-circle elevation-5">
        <span class="brand-text font-weight-light">Admin Area</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a class="d-block">Pages: </a>
            </div>
        </div>

      </div>
</aside>