@using Microsoft.AspNetCore.Identity
@using CLED.Areas.Identity.Data

@inject SignInManager<CLEDUser> SignInManager
@inject UserManager<CLEDUser> UserManager

<nav class="main-header navbar text-black navbar-expand-lg bg-light py-3 py-lg-0 px-0 px-lg-5" style="height: 65px;">
    <!-- Left navbar links -->

    <ul class="navbar-nav  font-weight-bold  py-0 ">
        <li class="nav-item  d-none d-sm-inline-block">
            <a id="manage" class="nav-link text-success" asp-area="Admin" asp-controller="Home" asp-action="Index">
                <img style="height: 31px; margin-right: 6px; padding-bottom: 4px;" class="user-avatar" src="http://cdn.onlinewebfonts.com/svg/img_326244.png" />Dashboard
            </a>
        </li>
        <li class="nav-item  d-none d-sm-inline-block">
            <a id="manage" class="nav-link text-success" asp-area="" asp-controller="Home" asp-action="Index">
                <img style="height: 31px; margin-right: 6px; padding-bottom: 4px;" class="user-avatar" src="https://img.icons8.com/ios/50/000000/windows-client.png" />Client Area
            </a>
        </li>


    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto font-weight-bold py-0">
        <li class=" navbar-nav font-weight-bold  py-0 ">

            <a id="manage" class="nav-link text-success " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <img style="height: 31px; margin-right: 6px; " class="user-avatar" src="~/images/icons/@UserManager.GetUserAsync(User).Result.Avatar.Trim()" /> Edit Profile
            </a>
        </li>

        <li class="navbar-nav font-weight-bold  py-0">


            <a class="nav-link text-red " style=" margin-top: 2px;" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { Area = "" })">Logout</a>

        </li>

    </ul>
</nav>
<!-- /.navbar -->