@{
    ViewData["Title"] = "Home Page";
}
<!-- Header Start -->
<div class="container-fluid bg-primary px-0 px-md-5 mb-5">
    <div class="row align-items-center px-3">
        <div class="col-lg-6 text-center text-lg-left">

            <h1 class="display-3 font-weight-bold text-white">CLED Solution to Kids Education</h1>
            <p class="text-white mb-10">
                Our site give a new solution for kids to understand some mathematics problems.
                We offer an IA solution to illustrate a mathematics problems to image, also we offer a Free WebDrawing to set and edit the result as you like.
            </p>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <img class="img-fluid mt-2" style="width: 60%;" src="~/Layout/img/header.png" alt="">
        </div>
    </div>
</div>


@section Scripts{

}