@page
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model CLED.Pages.ProblemeInputModel

@{
    Layout = "_Layout";
}


<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">CLED</span></p>
            <h1 class="mb-4">Illustrator | << Input >></h1>
        </div>
        <div class="row">
            <div class="col mb-5">
                <div class="form">
                    <form class="form" method="post">

                        <div class="form-group">
                            <div class="select-item">
                                <select asp-for="Input.Language" class="custom-select">
                                    <option disabled selected value="">Open this select menu</option>
                                    <option value="en">English</option>
                                    <option value="fr">French</option>
                                    <option value="ar">Arabe</option>
                                </select>
                                <span asp-validation-for="Input.Language" class="alert-danger"></span>

                            </div>
                        </div>
                        <!-- Message body -->
                        <div class="form-group">
                            <div class="os-textarea-cover">
                                <textarea asp-for="Input.Message" class="form-control" style="resize:none;" placeholder="Please enter your Problem here..." rows="15"></textarea>
                                <span asp-validation-for="Input.Message" class="alert-danger"></span>
                            </div>


                        </div>
                        <!-- Form actions -->

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary py-2 px-4">Submit</button>
                        </div>
                    </form>
                    @if (ViewData["Error"] != null)
                    {
                        <script type="text/javascript">

                             alert("@ViewData["Error"]");

                        </script>
                    }
                </div>
            </div>
            <div class="col-lg-5 mb-5" style="margin: inherit;">
                <h4>To get a result you need to : </h4>
                <div class="d-flex">
                    <i class="fa fa-first-order d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle" style="width: 5px; height: 5px;"></i>
                    <div class="pl-3">
                        <h5>Select the problem language </h5>
                    </div>
                </div>
                <div class="d-flex">
                    <i class="fa fa-first-order d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle" style="width: 5px; height: 5px;"></i>
                    <div class="pl-3">
                        <h5>Enter yout problem </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

